<div class="hero">
	<br />
	<br />
	<div class="text col-10 offset-1 text-center">
		<h1>Are you not ENTERTAINED?!</h1>
		<br />
		<h2><%= link_to "--> Gladiator <--", href="https://en.wikipedia.org/wiki/Gladiator_(2000_film)", class: "text" %></h2>
	</div>
</div>